@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
h1,h2,h3{
font-family: 'Manrope', sans-serif;
}
.a1{
    color: rgb(32, 32, 32);
    font-family: 'Manrope', sans-serif;

}
.a1:hover{
    
    text-decoration: underline;
}
.img1{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.bar{
    top: 0%;
    position: sticky;
}
